<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-md-4 mb-3">
                <h5>Simply Said</h5>
                <p>Sharing thoughts, code & college life.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-white">Home</a></li>
                    <li><a href="blog.html" class="text-white">Blog</a></li>
                    <li><a href="about" class="text-white">About</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Connect</h5>
                <p>Email: <a href="mailto:shrishti@example.com" class="text-info">shrishti@example.com</a></p>
                <p>Instagram: @shrishticodes</p>
            </div>
        </div>
        <div class="text-center mt-3">
            <small>&copy; 2025 S Blog. All rights reserved.</small>
        </div>
    </div>
</footer>
