<%- include("partitions/header.ejs") %>

<div class="form1">
  <form action="/home" method="POST">
    <label for="fName"> First Name:</label>
    <input type="text" name="fName" required> 
    <br>
    <label for="lName"> Last Name:</label>
    <input type="text" name="lName" required> 
    <br>
    <label for="Email">Email:</label>
    <input type="email" name="Email" required>
    <br>
    <input type="submit" value="Login">
  </form>
</div>


<%- include("partitions/footer.ejs") %>
