html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.edu_body{
  background-image: url('../images/education.avif');
  background-size: cover;            /* Scales image to cover the whole screen */
  background-repeat: no-repeat;      /* Prevents tiling */
  background-position: center center;/* Centers image */
 
}

.cre_body{
  background-image: url('../images/creative.avif');
  background-size: cover;            /* Scales image to cover the whole screen */
  background-repeat: no-repeat;      /* Prevents tiling */
  background-position: center center;/* Centers image */
  
}

.lif_body{
  background-image: url('../images/lifestyle.jpg');
  background-size: cover;            /* Scales image to cover the whole screen */
  background-repeat: no-repeat;      /* Prevents tiling */
  background-position: center center;/* Centers image */
  
}

.per_body{
  background-image: url('../images/personal.jpeg');
  background-size: cover;            /* Scales image to cover the whole screen */
  background-repeat: no-repeat;      /* Prevents tiling */
  background-position: center center;/* Centers image */
  
}

.tec_body{
  background-image: url('../images/tech.jpg');
  background-size: cover;            /* Scales image to cover the whole screen */
  background-repeat: no-repeat;      /* Prevents tiling */
  background-position: center center;/* Centers image */
  
}

.form1 {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  background-color:plum;
}


.about-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  
}

.about-container h1 {
  color: #5a2a83;
}

.about-container ul.blog-links {
  list-style: none;
  padding-left: 0;
}

.blog-links li {
  margin: 0.5rem 0;
}

.blog-links a {
  text-decoration: none;
  color: #007acc;
  font-weight: bold;
}

.blog-links a:hover {
  text-decoration: underline;
}
